---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

html {
  font-family: 'Yatra One', cursive !important;
}

$header-heading-color: #fff !default;
$header-bg-color: #c0441b !default;
$header-bg-color-secondary: #ffc100 !default;

.page-header {
  color: #fff !important;
  text-align: center;
  background-color: #c0441b !important;
  background-image: linear-gradient(120deg, #ffc100, #c0441b) !important;
}
